:root {
  --primary: #d81b60;
  --secondary: #8e24aa;
  --secondary-dark: #5c007a;
}

.jumbo {
  font-size: 5em;
  line-height: .5em;
  color: #fff;
  font-weight: 900;
}

.open {
  background: linear-gradient(var(--primary), var(--secondary));
  text-align: center;
  height: 100vh;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn-dark-primary {
  border: none;
  cursor: pointer;
  display: inline-block;
  font-size: 1.2em;
  letter-spacing: .1em;
  min-width: 10em;
  padding: 16px;
  margin: 10px 18px;
  border-radius: 25px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-weight: 900;
  background: #fff;
  color: var(--primary);
}

.btn-dark-primary:hover {
  background: var(--secondary-dark);
  color: #fff;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
}